{{ $.Scratch.Add "headerImage" "nav-top-main.jpg" }}
{{ partial "header-main.html" . }}

<title>Page Not Found</title>

<script src="https://cdn.ca9.uscourts.gov/assets/js/jquery/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="https://cdn.ca9.uscourts.gov/assets/js/email-forms/send_404_email.js"></script>

</head>
<body>
<div id="doc4">

<table cellpadding="0" cellspacing="0">
<tr>
 <td colspan="2" valign="top">
{{ partial "header-menu-main.html" . }}
 </td>
</tr>
<tr>
<td valign="top" style="width: 180px;">

   {{ partial "nav-left-main.html" . }}
   {{ partial "welcome.html" . }}
   {{ partial "pacer.html" . }}
</td>
<td valign="top" style="padding: 0 10px 0 10px; width: 779px;">
<div style="width:779px; font-family:Arial,sans-serif; font-size:12px; border:0px">
<h1>Page Not Found</h1>
<div style="border-top: 1px solid #cc9900; padding-left: 5px; margin-bottom: 5px; padding-bottom: 0px; padding-top: 0px; width: 779px;"></div>
<div id="404content" style="font-size: 14px;">
<br><br>
The page you requested does not match any URL on our website.
<br><br>
<span id="myurl" style="font-weight: bold;"></span>
<br><br>
Our Webmaster has been alerted regarding this event and will investigate. 
</div>
</td>
</tr>
<tr>
<td colspan="2" valign="top">
   {{ partial "footer-main.html" . }}
</td>
</tr>
</table>
</div>
