<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<meta charset="utf-8"/>
<title>{{ .Title }}</title>


<!-- META DATA -->
<!-- Global site tag (gtag.js) - Google Analytics -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-5523131-2"></script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-5523131-2');
</script>

<style type="text/css">
	.style1 {position:absolute; top:0px; left:0px; height: 100%; width:100%;}
</style>

</head>

<body>

    <iframe class="style1" src="{{ .Params.link }}" frameborder="1" />

</body>

</html>




