{{ $.Scratch.Add "headerImage" "nav-top-council.jpg" }}

{{ partial "header-main.html" . }}
<title>{{ .Title }}</title>
<style>
     p{
     display: block;
     margin-top: 1em;
     margin-bottom: 1em;
     margin-left: 0;
     margin-right: 0;
   }
</style>

</head>
<body>
<div id="doc4" class="yui-t2">
<table cellpadding="0" cellspacing="0">
<tr>
 <td colspan="3" valign="top">
{{ partial "header-menu-council.html" . }}
 </td>
</tr>
<tr>
<td valign="top">

   {{ partial "nav-left-council.html" . }}
   {{ partial "welcome.html" . }}
   {{ partial "pacer.html" . }}
</td>
<td valign="top" style="width: 480px; padding: 0 10px 0 10px;">
<h1>{{ .Title }}</h1>
<div style="border-top: 1px solid #cc9900; padding-left: 5px; margin-bottom: 15px; padding-bottom: 0px; padding-top: 0px; width: 480px;"></div>


  {{ with .Content }}
  <div>{{ . }}</div>
  {{ end }}

</td>
<td valign="top" style="width: 200px;">
<div style="width: 200px !important;">
   {{ partial "news.html" . }}
</div>
</td>
</tr>
<tr>
<td colspan="3" valign="top">
   {{ partial "footer-main.html" . }}
</td>
</tr>
</table>
</div>
