{{ $.Scratch.Add "headerImage" "nav-top-main.jpg" }}
{{ partial "header-main.html" . }}
<title>{{ .Title }}</title>

<link href="https://cdn.ca9.uscourts.gov/web-assets/css/lawyerreps-multiColumnTemplate.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="https://cdn.ca9.uscourts.gov/web-assets/js/jquery-1.4.3.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Gothic+A1:400,800" rel="stylesheet">
<style type="text/css" media="screen">
	ul li {list-style: none;} 
</style>
<script type="text/javascript" src="https://cdn.ca9.uscourts.gov/web-assets/js/jquery-1.4.3.min.js"></script>	

</head>
<body>
<div id="doc4" class="yui-t2">
<table cellpadding="0" cellspacing="0">
<tr>
 <td colspan="2" valign="top">
{{ partial "header-menu-main.html" . }}
 </td>
</tr>
<tr>
<td style="width: 730px; border: 0px solid orange;">
<h1>{{ .Title }}</h1>
<div style="border-top: 1px solid #cc9900; padding-left: 5px; margin-bottom: 20px; padding-bottom: 0px; padding-top: 0px; width: 90%;"></div>

  {{ with .Content }}
  <div>{{ . }}</div>
  {{ end }}

</td>
<td style="padding-left: 15px; width:230px; border: 0px solid green;">


{{ partial "nav-right-cja.html" . }}

</td>
</tr>
<tr>
<td valign="top">
   {{ partial "footer-main.html" . }}
</td>
</tr>
</table>
</div>

