<div id="container3" style="">


		<div id="slides" class="slides" style="background-image: url('https://cdn.ca9.uscourts.gov/assets/images/judicial-slides/courthouse-slide-1.jpg'); height: 168px; width: 300px;">


			<div class="slides_container" style="width: 300px; height: 168px;">
				<div style="width: 300px; height: 168px;"><img style="height: 168px;" src="https://cdn.ca9.uscourts.gov/assets/images/judicial-slides/courthouse-slide-1.jpg">
				</div>
				<div style="width: 300px; height: 168px;">
					<img style="height: 168px;" src="https://cdn.ca9.uscourts.gov/assets/images/judicial-slides/courthouse-slide-2.jpg">
				</div>
				<div style="width: 300px; height: 168px;">
					<img style="height: 168px;" src="https://cdn.ca9.uscourts.gov/assets/images/judicial-slides/courthouse-slide-3.jpg">
				</div>
				<div style="width: 300px; height: 168px;">
					<img style="height: 168px;" src="https://cdn.ca9.uscourts.gov/assets/images/judicial-slides/courthouse-slide-4.jpg">
				</div>
				<div style="width: 300px; height: 168px;">
					<img style="height: 168px;" src="https://cdn.ca9.uscourts.gov/assets/images/judicial-slides/courthouse-slide-5.jpg">
				</div>
				<div style="width: 300px; height: 168px;">
					<img style="height: 168px;" src="https://cdn.ca9.uscourts.gov/assets/images/judicial-slides/courthouse-slide-6.jpg">
				</div>
				<div style="width: 300px; height: 168px;">
					<img style="height: 168px;" src="https://cdn.ca9.uscourts.gov/assets/images/judicial-slides/courthouse-slide-7.jpg">
				</div>
		</div>
	</div>
</div>

