<p>Court Sessions documents are published once a year and include the month, date, and location that court will be in session. No case numbers or hearing information is included here.</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;<a href="https://cdn.ca9.uscourts.gov/datastore/uploads/calendar/sitdates_2021.pdf">2021 Court Sessions - Dates and Locations</a></p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;<a href="https://cdn.ca9.uscourts.gov/datastore/uploads/calendar/sitdates_2022.pdf">2022 Court Sessions - Dates and Locations</a></p>
