<a name="rewards"></a><br />
<div id="rewards-container">

<br><br><br>

<table id="rewards-table">
<tr><td id="rewards-title">
Total Rewards and Work-Life Balance Summary
<div style="margin-top: 5px; padding: 0 0 0 8px; width: 99%; margin-bottom: 20px; border-top: #cc9900 1px solid;"></div>
</td></tr>
<tr><td class="rewards-category">
Employer Subsidized Plans
</td></tr>
<tr><td class="rewards-sub-category">
Health Insurance Plans
</td></tr>
<tr><td class="rewards-details">
<ul>
<li>
<a href="https://www.opm.gov/healthcare-insurance/healthcare/" target="_blank">FEHB</a> Premiums and Coverage: employee pays approximately one-third of total premium; pre-tax, bi-monthly deduction; coverage effective first day of the first pay period following the date election is received
</li>
<li>
	<a href="http://www.opm.gov/FEHBcompare" target="_blank">Health Plans: Cost Comparison Tool</a> - comparison of available plans and employee premiums by coverage level (employee, employee + 1, family)
	<div class="note-indent">Navigation tips: enter zip code, under Employee Type select 'Federal Employee (Non-postal)', under Pay Frequency select 'biweekly'
</li><li>
	<a href="https://www.opm.gov/healthcare-insurance/healthcare/plan-information/plans/" target="_blank">Health Plan Cost and Coverage Information</a> - details by individual plans such as deductibles, co-pays, RX, etc.</div>
	<div class="note-indent">Navigation tips: choose your state, far right column contains 'Plan Website' information including employee premium cost, deductibles, out-of-pocket expenses, network of providers, etc.</div>
</li>
</ul>
</td></tr>
<tr><td class="rewards-sub-category">
Life Insurance Plans
</td></tr>
<tr><td class="rewards-details">
<ul>
<li>
<a href="https://www.opm.gov/healthcare-insurance/life-insurance/" target="_blank">FEGLI</a> Premiums and Coverage: employee pays approximately 2/3s cost of basic coverage and full cost of optional plans; pre-tax, bi-monthly deduction; coverage effective upon hire</li>
<li>
<a href="https://www.opm.gov/retirement-services/calculators/fegli-calculator/" target="_blank">Life Insurance Cost Calculator</a>
</li><li>
Coverage: 1) basic coverage: one times annual salary rounded to next thousand dollars plus $2,000; and 2) optional plans including flat $10,000; multiples of salary up to five (5) times; and family coverage</li>
</ul>
</td></tr>
<tr><td class="rewards-sub-category">
Total Wellness Plan
</td></tr>
<tr><td class="rewards-details">
<ul>
<li>
<a href="http://www.foh4you.com/" target="_blank">Employee Assistance Program/WorkLife4You</a>: provides free, short-term counseling; financial and legal services consultation and discounted services; child and parenting services; adult care and aging services</li>
</ul>
</td></tr>
<tr><td class="rewards-sub-category">
Transit Subsidy
</td></tr>
<tr><td class="rewards-details">
<ul>
<li>
Covers actual public transit system commute costs, up to a maximum of $225 a month</li>
</ul>
</td></tr>

<tr><td class="rewards-category">
Optional, Employee-Paid Plans
</td></tr>
<tr><td class="rewards-sub-category">
Dental and Vision Plans
</td></tr>
<tr><td class="rewards-details">
<ul>
<li>
<a href="https://www.benefeds.com/Portal/loginUser?EventName=EnrPlan&ctoken=de8OGdsz" target="_blank">FEDVIP</a> Premiums and Coverage: bi-monthly, pre-tax deduction; coverage effective first day of the first pay period following the date election is received
</li>
<li>
<a href="https://www.benefeds.com/Portal/PlanSearch?submit=planSearch&ctoken=de8OGdsz" target="_blank">Dental and Vision Plans: Cost Comparison Tool</a> - comparison of available plans and employee premiums by coverage level (employee, employee + 1, family)
</li><li>
<a href="https://www.benefeds.com/Portal/EducationSupport?EnsSubmit=dental-vision&ctoken=de8OGdsz" target="_blank">Dental and Vision General Information</a>
</li>
</ul>
</td></tr>
<tr><td class="rewards-sub-category">
Flexible Spending Account Programs
</td></tr>
<tr><td class="rewards-details">
<ul>
<li>
Premium Payment Plan: pre-tax deductions for health, dental, and vision premiums
</li>
<li>
Health Care Reimbursement Account: covers eligible out-of-pocket medical, dental, and vision expenses
<div class="note-indent">Contributions and Coverage: bi-monthly, pre-tax deduction; 2021 plan year contribution maximum up to $2,750</div>
</li><li>
Dependent Care Reimbursement Account: covers eligible dependent care expenses
<div class="note-indent">Contributions and Coverage: bi-monthly, pre-tax deduction; 2021 plan year contribution maximum up to $5,000 or $2,500 if filing jointly</div>
</li>
</ul>
</td></tr>
<tr><td class="rewards-sub-category">
Federal Long-Term Care Insurance Program
</td></tr>
<tr><td class="rewards-details">
<ul>
<li>
<a href="https://www.ltcfeds.com/" target="_blank">FLTCIP</a>: four pre-packaged plans plus the ability to customize a plan; newly eligible employees can apply abbreviated underwriting; spouse, adult children, parents, parents-in-law, and stepparents can apply (medical underwriting is required)</a>
</li>
</ul>
</td></tr>
<tr><td class="rewards-sub-category">
Commuter Parking Benefit Plan
</td></tr>
<tr><td class="rewards-details">
<ul>
<li>
Covers eligible expenses related to parking at or near workplace; bi-monthly, pre-tax deduction</li>
</ul>
</td></tr>

<tr><td class="rewards-category">
Employer Subsidized Retirement
</td></tr>
<tr><td class="rewards-details">
<div style="margin: 10px;">The Federal Employees Retirement Systems (FERS) is a retirement plan with three components including: FERS Basic Benefit, Thrift Savings Plan (TSP), and Social Security</div>
<ul>
<li>
<a href="https://www.opm.gov/retirement-services/fers-information/" target="_blank">FERS</a> - Defined benefit plan based on creditable years of service
</li>
<li>
<a href="https://www.tsp.gov/PlanParticipation/EligibilityAndContributions/index.html" target="_blank">TSP</a> - Matching judiciary contributions-dollar-for-dollar on the first 3% of employee contributions and fifty cents per dollar on the next 2% of employee contributions
</li>
<li>
<a href="https://www.ssa.gov/benefits/retirement/" target="_blank">Social Security</a>
</li>

</ul>
</td></tr>

<tr><td class="rewards-category">
Work-Life Balance
</td></tr>
<tr><td class="rewards-sub-category">
Additional Benefits
</td></tr>
<tr><td class="rewards-details">
<ul>
<li>
Holidays: 10 federal judiciary holidays per year; additional administrative days awarded at the discretion of the local judiciary
</li>
<li>
Annual (Vacation) Leave: zero to 3 years: 13 days/104 hours; three to fifteen years: 19.5 days/156 hours; and fifteen plus years: 26 days/208 hours</li>
<li>
Sick Leave: up to 13 days/104 hours a year
</li>

<li>
Eligibility for Public Service Loan Forgiveness Program
</li>

<li>
Telework options available
</li>
<li>
On-site gym in most locations</li>
<li>
Amazing co-workers! </li>
</ul>
</td></tr>
</table>

</div>
