
<div style="margin:0 0 30px 20px;">
<div style="text-align: center; padding-bottom: 10px;">

<a href="#rewards" style="margin-right: 100px;">Total Rewards and Work-Life Balance Summary</a><a href="https://www.uscourts.gov/sites/default/files/vol02a-ch03_0.pdf">Code of Conduct for Judicial Employees</a>


</div>


          <div class="employmentPositions" style="cursor: pointer; margin: 5px 0 10px 0; width: 738px;"><b><a style="font-weight: bold;" href="https://ca9-employment.breezy.hr">Ninth Circuit Court of Appeals</a></div>

                                <!-- InstanceEndEditable -->
<table style="width: 600px;">
<tr>
<td style="padding-right: 10px;">

        <div style="padding: 10px 0 5px 0;"><strong><a style="color:#27307E;" href="https://ca9-employment.breezy.hr/team/portal">
	Internal Only Opportunities</a></strong></div>        
        <p>View job listings for current staff members, or refer candidates for open positions.</p>
</td>
<td style="padding-left: 10px;">

        <div style="padding: 10px 0 5px 0;"><strong><a style="color:#27307E;" href="https://oscar.uscourts.gov">Law Clerk Opportunities</a></strong></div>
        <p>Applications for Law Clerk positions are submitted and accepted through OSCAR.</p>
</td>
</tr>
</table>

<div style="margin-bottom: 20px; width: 600px; height: 1px; background-color: #000;"></div>


<div style="color: red; margin: 20px 0; font-size: 120%; width: 600px;">Given the current circumstances of COVID-19, our recruitment process has been delayed.  We appreciate your patience as we make every effort to communicate effectively and efficiently with the ongoing recruitments.</div>


<div id='BrzyHr_app'></div><script src='https://ca9-employment.breezy.hr/embed/js?&link_external=true'></script>

</div>


