<div id="doc4" class="yui-t3">
<!-- InstanceEndEditable -->
   <div id="hd">
    <!-- Start Header -->

        <!-- Begin Header Logo + Search -->
        <div id="headerMaxCont">
          <div id="headerContainer">
              <span id="headeraL">
                  <img src="https://cdn.ca9.uscourts.gov/assets/images/header/9cir_header_Library.jpg" alt="Ninth Circuit Judicial Council &amp; Conference" width="974" height="151" border="0" usemap="#header_map" class="ydnLogo">
                  <map name="header_map" id="header_map">
                      <area shape="rect" coords="19,19,136,139" href="/" alt="United States Courts for the Ninth Circuit Seal" />
                      <area shape="rect" coords="154,106,331,150" href="/" alt="Court of Appeals" />
                      <area shape="rect" coords="337,106,512,158" href="/district/district-and-bankruptcy-courts/" alt="District and Bankruptcy Courts" />
                      <area shape="rect" coords="517,104,692,175" href="/judicial-council/" alt="Judicial Council &amp; Judicial Conference" />
                      <area shape="rect" coords="700,103,875,177" href="/library/" alt="Ninth Circuit Library" />
              </map>   
          </span>

              <span id="headeraR">
            <div id="searchArea">

			<script async src="https://cse.google.com/cse.js?cx=017806162705558604673:tsfuahgah4s"></script>
			<div class="gcse-searchbox-only"></div>


                  </div>
              </span>

          </div>
        </div>
        <!-- End Header Logo + Search -->
        <!-- Begin main top nav -->

                <div style="text-align: center;">
                     <div class="HmainMenuWrapper">
                        <span class="HmainMenu"><a href="/">Home</a> </span>
                        <span class="HmainMenu"><a href="/library/about/">About the Library</a> </span>
                        <span class="HmainMenu"><a href="/library/access/">Access & Services</a> </span>
                        <span class="HmainMenu"><a href="/library/directory/">Directory</a> </span>
                        <span class="HmainMenu"><a href="/employment/">Employment</a> </span>
                    </div>
                        <div style="width: 974px; background-color: #7BAACF; height: 5px; margin-bottom: 6px;"></div>
                </div>
        <!-- End: main top nav -->


    <!-- End Header -->
