<!-- Begin Center Right Column -->
<div class="twocolboxr_cases_ann"> 
<div style="width:auto;">
	     <a href="/judicial-conference/2019/video.html" target="_blank"><img src="/judicial-conference/2019/images/video/2019JC_videos.png" width="95" alt="2019 Ninth Circuit Judicial Conference"></a>
  <br>
<div style="width:auto;margin-top:5px;">
  <div style="border:solid 2px #30408A;color:#001164;width:91px;height:35px;float:left;margin-bottom:10px;">
					   <div style="padding:5px 10px;text-align:center; "><a href="/judicial-conference/2018/video.html" target="_blank" style="font-size: 140%; font-weight: normal; text-align: center; font-family: Arial; font-style: normal; color: #30408A;text-decoration: none;">2018</a></div>
				 </div>
				   <br>   

  <div style="border:solid 2px #30408A;color:#001164;width:91px;height:35px;float:left;margin-bottom:10px;">
					   <div style="padding:5px 10px;text-align:center; "><a href="/judicial-conference/2017/video.html" target="_blank" style="font-size: 140%; font-weight: normal; text-align: center; font-family: Arial; font-style: normal; color: #30408A;text-decoration: none;">2017</a></div>
				 </div>
				   <br>
	<div style="border:solid 2px #001164;color:##30408A;width:91px;height:35px;float:left;margin-bottom:10px;">
				   <div style="padding:5px 10px;text-align:center;"><a href="/judicial-conference/2016/video.html" target="_blank" style="font-size: 140%; font-weight: normal; text-align: top; font-family: Arial; font-style: normal; color: #30408A;text-decoration: none;">2016</a></div>                                        </div>
				   <br>
	<div style="border:solid 2px #001164;color:#30408A;width:91px;height:35px;float:left;margin-bottom:10px;">
				   <div style="padding:5px 10px;text-align:center;"><a href="/judicial-conference/2015/video.html" target="_blank" style="font-size: 140%; font-weight: normal; text-align: center; font-family: Arial; font-style: normal; color: #30408A;text-decoration: none;">2015</a></div>
	</div>
	<br>
	<div style="border:solid 2px #30408A;color:#001164;width:91px;height:35px;float:left;margin-bottom:10px;">
				   <div style="padding:5px 10px;text-align:center;"><a href="/judicial-conference/2014/video.html" target="_blank" style="font-size: 140%; font-weight: normal; text-align: center; font-family: Arial; font-style: normal; color: #30408A;text-decoration: none;">2014</a></div>
	</div>
</div>
	   <br>
</div>
</div>
<!-- End Center Right Column -->      

