<span class="yui-skin-sam">
  <div id="productsandservices" class="yuimenu">
    <div class="bd">
        <ul class="first-of-type">
            <li class="yuimenuitem first-of-type">
                <a class="yuimenuitemlabel" href="/judicial-council/what-is-the-ninth-circuit/">What is the Ninth Circuit</a>
            </li>
            <li class="yuimenuitem">
                <a class="yuimenuitemlabel" href="/judicial-council/judges-seniority-list">Judges</a>
            </li>
            <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/judicial-council/judicial-appointments/">Judicial Appointments</a>
            </li>
             <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/district/vacancies/judicial-vacancies-and-nominations/">Vacancies/Nominations</a>
            </li>
            <li class="yuimenuitem">
                <a class="yuimenuitemlabel" href="/judicial-council/annual-reports/">Annual Reports</a>
            </li>
            <li class="yuimenuitem">
                <a class="yuimenuitemlabel" href="/judicial-council/caseloads-and-statistics/">Appeals Court -<br>Caseloads and Statistics</a>  
            </li>
            <li class="yuimenuitem">
                <a class="yuimenuitemlabel" href="http://www3.ce9.uscourts.gov/jury-instructions/model-civil">Civil Jury Instructions</a>
            </li>

            <li class="yuimenuitem">
                <a class="yuimenuitemlabel" href="http://www3.ce9.uscourts.gov/jury-instructions/model-criminal">Criminal Jury Instructions</a>
            </li>
            <li class="yuimenuitem">
                <a class="yuimenuitemlabel" href="/judicial-council/jury-trial-improvement-committee/">Jury Trial - <br>Improvement Committee Reports</a>
            </li>
            <li class="yuimenuitem">
                <a class="yuimenuitemlabel" href="/judicial-council/pro-se-reports/">Pro Se Reports</a>
            </li>
            </ul>
     </div>  
   </div>  
 </span>

