 <div class="yui-b">
      <!-- Start Left Navigation -->
      <span class="yui-skin-sam">
      <!-- InstanceBeginEditable name="LeftNavigation" -->
	   <div id="productsandservices" class="yuimenu"> 

    <div class="bd">
        <ul class="first-of-type">
            <li class="yuimenuitem first-of-type">
                <a class="yuimenuitemlabel" href="/efiling/">E-Filing</a>
            </li>
	    <li class="yuimenuitem first-of-type">
                <a class="yuimenuitemlabel" href="https://pacer.login.uscourts.gov/csologin/login.jsf">Viewing a Document - <br> PACER</a>
            </li>
	    
            <li class="yuimenuitem">
                <a class="yuimenuitemlabel" href="#">Opinions</a>
                <div id="decisions" class="yuimenu">
          			<div class="bd">
            			<ul class="first-of-type">
					 		<li class="yuimenuitem"><a href="/opinions/">Published</a></li>
             				<li class="yuimenuitem"><a href="/memoranda/">Unpublished</a></li>
	        			</ul>
          			</div>
        		</div> 
            </li>
            <li class="yuimenuitem">
                <a class="yuimenuitemlabel" href="#">Calendar</a>
                <div id="calendar" class="yuimenu">
          			<div class="bd">
            			<ul class="first-of-type">
					<li class="yuimenuitem"><a href="/calendar/">Oral Arguments</a></li>
					<li class="yuimenuitem"><a href="/calendar/oral-argument-information/">Information About Oral Argument Hearings</a></li> 
					<li class="yuimenuitem"><a href="/calendar/court-sessions/">Court Sessions</a></li>
	        			</ul>
          			</div>
        		</div>
            </li>
	     <li class="yuimenuitem first-of-type">
                <a class="yuimenuitemlabel" href="/en-banc/">En Banc Cases</a>
            </li>
	    
             <li class="yuimenuitem">
                <a class="yuimenuitemlabel" href="#">Forms, FAQs, and
                <br>Other Instructions</a>
                <div id="multi_info" class="yuimenu">
          			<div class="bd">
            			<ul class="first-of-type">
                            <li class="yuimenuitem"><a href="/forms/">Forms</a></li>
			    <li class="yuimenuitem"><a href="/general/faq/">FAQs</a></li>
                            <li class="yuimenuitem"><a href="https://cdn.ca9.uscourts.gov/datastore/uploads/guides/Electronic%20Filing%20Guide%20(2020).pdf">Working with PDFs</a></li>
             		    <li class="yuimenuitem"><a href="/guides/open-case-counsel/">After Opening a Case - Attorneys</a></li>
                            <li class="yuimenuitem"><a href="/guides/open-case-pro-se/">After Opening a Case - Pro Se</a></li>
                            <li class="yuimenuitem"><a href="https://cdn.ca9.uscourts.gov/datastore/uploads/forms/PostJudgmentandBillofCosts_Flat.pdf">Post-Judgment Information</a></li>
                            <li class="yuimenuitem"><a href="/general/fee-schedule/">Fee Schedule</a></li>
                            <li class="yuimenuitem"><a href="/general/glossary/">Glossary</a></li>
                            <li class="yuimenuitem"><a href="/cmecf/faqs/">CM/ECF FAQ</a></li>  
	        			</ul>
          			</div>
        		</div>
            </li>

            <li class="yuimenuitem"><a href="/forms/pro-se-litigants/">Pro Se Litigants</a></li> 

            <li class="yuimenuitem">
                <a class="yuimenuitemlabel" href="#">Rules</a>
                  <div id="rules" class="yuimenu">
          			<div class="bd">
            			<ul class="first-of-type">
				<li class="yuimenuitem"><a href="/rules/">FRAP & Circuit Rules</a></li>
                            	<li class="yuimenuitem"><a href="/rules/proposed-rules-and-amendments/">Proposed Rules and Amendments</a></li>
                            	<li class="yuimenuitem"><a href="/rules/general-orders/">General Orders</a></li>
	        			</ul>
          			</div>
        		</div>
            </li>
            <li class="yuimenuitem">
                <a class="yuimenuitemlabel" href="#">Legal Guides</a>
                  <div id="guides" class="yuimenu">
          			<div class="bd">
            			<ul class="first-of-type">

                            <li class="yuimenuitem"><a href="/guides/appellate-advocacy-program/">Appellate Advocacy Programs</a></li>
                       	    <li class="yuimenuitem"><a href="/guides/appellate-jurisdiction/">Appellate Jurisdiction in the Ninth Circuit</a></li>
                            <li class="yuimenuitem"><a href="/guides/appellate-practice-guide/">Appellate Practice Guide and Resources</a></li>
			  <!--  <li class="yuimenuitem"><a href="/guides/immigration-training">Immigration Training - Powerpoints and Materials</a></li> --> 
			    <li class="yuimenuitem"><a href="/guides/immigration-outline/">Ninth Circuit Immigration Outline</a></li>
                            <li class="yuimenuitem"><a href="/guides/perfecting-your-appeal">Perfecting Your Appeal</a></li>
                            <li class="yuimenuitem"><a href="/guides/section-1983-outline/">Section 1983 Outline</a></li>
 			    <li class="yuimenuitem"><a href="//cdn.ca9.uscourts.gov/datastore/uploads/guides/Social_Security_Outline_Westlaw.pdf">Social Security Outline</a></li>
                            <li class="yuimenuitem"><a href="/guides/standards-of-review/">Standards of Review</a></li>
	        			</ul>
          			</div>
        		</div>
            </li>
	    
	    <li class="yuimenuitem first-of-type">
                <a class="yuimenuitemlabel" href="/media/live-oral-arguments">Live Video Streaming<br> of Oral Arguments<br>and Events</a>
            </li>
	    <li class="yuimenuitem first-of-type">
                <a class="yuimenuitemlabel" href="/media/">Archived Audio and Video</a>
            </li>
	    
            <li class="yuimenuitem first-of-type">
                <a class="yuimenuitemlabel" href="/information/tours/">Public Tours</a>
            </li>	    
            
            <li class="yuimenuitem">
                <a class="yuimenuitemlabel" href="/rss/">RSS Feeds&nbsp;<img src="https://cdn.ca9.uscourts.gov/assets/images/feed-icon-14x14.png" /></a>
            </li>                        
            </ul>
            <br>
            <br>
            <ul class="leftnav_bgcolor"> 
            <li class="yuimenuitem">
              <a class="yuimenuitemlabel" href="/information/clerks-office/"><span class="leftnav_units">Clerk's Office</span></a>
            </li>
		    <li class="yuimenuitem">
              <a class="yuimenuitemlabel" href="/workplace/"><span class="leftnav_units">Workplace Relations</span></a>
            </li>
            <li>
              <a class="yuimenuitemlabel" href="/mediation/"><span class="leftnav_units">Mediation</span></a>
            </li>
            <li class="yuimenuitem">
              <a class="yuimenuitemlabel" href="/bap/"><span class="leftnav_units">Bankruptcy Appellate Panel</span></a>
            </li>                         
        </ul>
     </div>  
	</span>
   </div>  
      <!-- end Left Navigation --> 
