<div id="productsandservices" class="yuimenu">
    <div id="ZZZcontainer">
      <nav class="secondary_header" id="menu">
        <ul>
                        <li><a href="https://cdn.ca9.uscourts.gov/datastore/general/2020/03/06/2019-2020%20LRCC%20Roster.pdf" target="_blank" style="color:#ffffff;">LRCC ROSTER</a></li>
                <li><a href="https://cdn.ca9.uscourts.gov/datastore/general/2020/03/06/BK-LawyerReps-2020.pdf" target="_blank" style="color:#ffffff;">BANKRUPTCY LAWYER REPRESENTATIVES</a></li>
                <li><a href="https://cdn.ca9.uscourts.gov/datastore/general/2020/03/06/LR_OrientationManual__Jan2020.pdf" target="_blank" style="color:#ffffff;">ORIENTATION MANUAL</a></li>
                <li><a href="#" target="_blank" style="color:#ffffff;">KEY DATES<br />(2019-2020)</a></li>
                <li><a href="https://www.ca9.uscourts.gov/content/view_lawrep.php?pk_id=0000000918" style="color:#ffffff;">CALENDAR</a></li>
                <li><a href="https://cdn.ca9.uscourts.gov/datastore/general/2017/12/01/JudicialConferenceResolutions1990-2008.pdf" target="_blank" style="color:#ffffff;">RESOLUTIONS<br />1990-2008</a></li>
                <!--<li><a href="#" target="_blank" style="color:#ffffff;">CONTACT</a></li> -->                   
        </ul>
                </nav>
                <div style="height:330px;border: solid 0px #000000;">&nbsp;</div>
                <div class="menu_header">Lawyer Representatives</div>
                        <ul style="border:0px;">
                    <li style="margin-left:23px;border-bottom: 1px solid #D1D0D0;padding: 8px 0">
                                <a href="/content/view_lawrep.php?pk_id=0000000919"><span class="fa fa-angle-right" style="font-size: 15px; color: #921818; font-weight: bold;">&nbsp;</span> <span class="menu_text">What does it mean to be a lawyer representative?</span></a>
                        </li>
                        <li style="margin-left:23px;border-bottom: 1px solid #D1D0D0;padding: 8px 0">
                                <a href="https://cdn.ca9.uscourts.gov/datastore/general/2018/08/23/2017-2018%20Lawyer%20Representative%20Activities%20and%20Accomplishments.pdf" target="_blank"><span class="fa fa-angle-right" style="font-size: 15px; color: #921818; font-weight: bold;">&nbsp;</span> <span class="menu_text">Activities and accomplishments</span></a>
                        </li>
                        <li style="margin-left:23px;border-bottom: 1px solid #D1D0D0;padding: 8px 0">
                                <a href="https://cdn.ca9.uscourts.gov/datastore/general/2018/08/31/Roles&Responsibilities.pdf" target="_blank"><span class="fa fa-angle-right" style="font-size: 15px; color: #921818; font-weight: bold;">&nbsp;</span> <span class="menu_text">Lawyer representatives responsibilities</span></a>
                        </li>
                        <li style="margin-left:23px;border-bottom: 1px solid #D1D0D0;padding: 8px 0">
                                <a href="https://cdn.ca9.uscourts.gov/datastore/general/2018/08/31/DutiesoftheDistrictChairperson.pdf" target="_blank"><span class="fa fa-angle-right" style="font-size: 15px; color: #921818; font-weight: bold;">&nbsp;</span><span class="menu_text">LRCC Chair responsibilities</span></a>
                        </li>
                        <li style="margin-left:23px;border-bottom: 1px solid #D1D0D0;padding: 8px 0">
                                <a href="https://cdn.ca9.uscourts.gov/datastore/general/2018/08/31/2018-2019LRCCSurvGuide.pdf" target="_blank"><span class="fa fa-angle-right" style="font-size: 15px; color: #921818; font-weight: bold;">&nbsp;</span><span class="menu_text">The LRCC Chair's (or Co-Chair's) Survival Guide</span></a>
                        </li>
                    </ul>

                <div class="menu_header">Appellate Lawyer Representatives</div>
                <ul style="border:0px;">
                    <li style="margin-left:23px;border-bottom: 1px solid #D1D0D0;padding: 8px 0">
                                <a href="https://www.ca9.uscourts.gov/content/view.php?pk_id=0000000622" target="_blank"><span class="fa fa-angle-right" style="font-size: 15px; color: #921818; font-weight: bold;">&nbsp;</span> <span class="menu_text">Selection Procedures</span></a>
                        </li>
                        <li style="margin-left:23px;border-bottom: 1px solid #D1D0D0;padding: 8px 0">
                                <a href="https://www.ca9.uscourts.gov/content/view.php?pk_id=0000000858" target="_blank"><span class="fa fa-angle-right" style="font-size: 15px; color: #921818; font-weight: bold;">&nbsp;</span> <span class="menu_text">Appellate Practice Guide</span></a>
                        </li>
                        <li style="margin-left:23px;border-bottom: 1px solid #D1D0D0;padding: 8px 0">
                                <a href="https://www.ca9.uscourts.gov/content/view.php?pk_id=0000000623" target="_blank"><span class="fa fa-angle-right" style="font-size: 15px; color: #921818; font-weight: bold;">&nbsp;</span> <span class="menu_text">Bios</span></a>
                        </li>
                    </ul>
                <br>
            <div class="menu_header">Planning Your District Conference</div>
                <ul style="border:0px;">
                    <li style="margin-left:23px;border-bottom: 1px solid #D1D0D0;padding: 8px 0">
                                <a href="https://cdn.ca9.uscourts.gov/datastore/general/2017/12/08/Checklist%20for%20District%20Conference%20Planning.pdf" target="_blank"><span class="fa fa-angle-right" style="font-size: 15px; color: #921818; font-weight: bold;">&nbsp;</span> <span class="menu_text">How-To's and Nuts and Bolts</span></a>
                        </li>
                    </ul>
     </div>  
</div>
