<div id="productsandservices" class="yuimenu">
    <div id="container">
      <nav class="secondary_header" id="menu">
        <ul>
  <li><a href="https://cdn.ca9.uscourts.gov/datastore/general/2021/02/09/Ninth%20Circuit%20EDR%20Policy.pdf" target="_blank" style="color:#ffffff;font-variant: small-caps;font-size:110%">EDR Policy</a></li>
  <li><a href="https://cdn.ca9.uscourts.gov/datastore/general/2021/02/09/EDR_Chart.pdf" target="_blank" style="color:#ffffff;font-variant: small-caps;font-size:110%">EDR Flowchart</a></li>
  <li><a href="https://cdn.ca9.uscourts.gov/assets/workplace/committee-report/Ninth-Circuit-Workplace-Environment-Committee-Report.pdf" target="_blank" style="color:#ffffff;font-variant: small-caps;font-size:110%">Workplace Environment Committee Report</a></li>
  <li><a href="https://cdn.ca9.uscourts.gov/datastore/general/2019/03/01/Ninth%20Circuit%20Workplace%20Relations%20Update.pdf" target="_blank" style="color:#ffffff;font-variant:small-caps;font-size:110%;line-height:110%;padding:3px 0px 3px 6px;">Workplace Relations Update</a></li>
  <li><a href="https://workplace/director-of-workplace-relations/" style="color:#ffffff;font-variant:small-caps;font-size:110%;line-height:110%;padding:3px 0px 3px 6px;">Director of Workplace Relations</a></li>
  <li><a href="https://www.uscourts.gov/about-federal-courts/workplace-conduct-federal-judiciary" target="_blank" style="color:#ffffff;font-variant:small-caps;font-size:110%;line-height:110%;padding:3px 0px 3px 6px;">Office of Judicial Integrity</a></li>

        <li><a href="https://cdn.ca9.uscourts.gov/assets/workplace/calendar/Workplace-Committee-Calendar.pdf" target="_blank" style="color:#ffffff;font-variant:small-caps;font-size:110%;">Calendar</a></li>
                <li><a href="https://cdn.ca9.uscourts.gov/assets/workplace/ContactingOWR.pdf" target="_blank" style="color:#ffffff;font-variant:small-caps;font-size:110%;">Contact Us</a></li>               
        </ul>
                </nav>
        </div>
<br />
                <div class="menu_header" style="padding-top:20px;">Latest News Releases</div>
                        <ul style="border:0px;">
                        <li style="margin-left:23px;border-bottom: 1px solid #D1D0D0;padding: 8px 0;">
                                <a href="http://cdn.ca9.uscourts.gov/datastore/ce9/2020/02/21/Update%20on%20Ninth%20Circuit%20Workplace%20Environment%20Initiatives%202_21_2020.pdf" target="_blank"><span class="fa fa-angle-right" style="font-size: 15px; color: #921818; font-weight: bold;">&nbsp;</span> <span class="menu_text">Update on Ninth Circuit
Workplace Environment Initiatives</span></a><br>February 21, 2020
                        </li>
                        <li style="margin-left:23px;border-bottom: 1px solid #D1D0D0;padding: 8px 0;">
                                <a href="https://cdn.ca9.uscourts.gov/datastore/ce9/2019/06/18/Workplace%20Environment%20Committee%20Report%20Release_6.18.19.pdf" target="_blank"><span class="fa fa-angle-right" style="font-size: 15px; color: #921818; font-weight: bold;">&nbsp;</span> <span class="menu_text">Ninth Circuit Committee Issues Workplace
Environment Report</span></a><br>June 18, 2019
                        </li>
                        <li style="margin-left:23px;border-bottom: 1px solid #D1D0D0;padding: 8px 0;">
                                <a href="https://cdn.ca9.uscourts.gov/datastore/general/2019/02/15/PR_11132018.pdf" target="_blank"><span class="fa fa-angle-right" style="font-size: 15px; color: #921818; font-weight: bold;">&nbsp;</span> <span class="menu_text">Ninth Circuit Announces Appointment of First Director of Workplace Relations</span></a><br>November 13, 2018
                        </li>
                        <li style="margin-left:23px;border-bottom: 1px solid #D1D0D0;padding: 8px 0">
                                <a href="https://cdn.ca9.uscourts.gov/datastore/general/2019/02/15/PR_05212018.pdf" target="_blank"><span class="fa fa-angle-right" style="font-size: 15px; color: #921818; font-weight: bold;">&nbsp;</span> <span class="menu_text">Ninth Circuit Judicial Council Acts on Workplace Environment Recommendations</span></a>
                <br>
                May 21, 2018
                        </li>
                        <li style="margin-left:23px;border-bottom: 1px solid #D1D0D0;padding: 8px 0">
                                <a href="https://cdn.ca9.uscourts.gov/datastore/general/2019/02/15/PR_02282018.pdf" target="_blank"><span class="fa fa-angle-right" style="font-size: 15px; color: #921818; font-weight: bold;">&nbsp;</span><span class="menu_text">Ninth Circuit Committee Begins Workplace Environment Review</span></a>
                <br>February 28, 2018
                        </li>
                        <li style="margin-left:23px;border-bottom: 1px solid #D1D0D0;padding: 8px 0">
                                <a href="https://cdn.ca9.uscourts.gov/datastore/general/2019/02/15/PR_01122018.pdf" target="_blank"><span class="fa fa-angle-right" style="font-size: 15px; color: #921818; font-weight: bold;">&nbsp;</span><span class="menu_text">Ninth Circuit Committee to Review Workplace Environment Policies</span></a>
                <br>January 12, 2018
                        </li>
                    </ul>

                <!--<div class="menu_header" >Contact our Office</div>
                <ul style="border:0px;">
                    <li style="margin-left:23px;border-bottom: 1px solid #D1D0D0;padding: 8px 0">
                                <a href="mailto:workplacedirector@ce9.uscourts.gov" target="_blank"><span class="fa fa-angle-right" style="font-size: 15px; color: #921818; font-weight: bold;">&nbsp;</span> <span class="menu_text">Email us</span></a>
                        </li>
            </ul>
        -->
                <!--<br>
            <div class="menu_header">Planning Your District Conference</div>
                <ul style="border:0px;">
                    <li style="margin-left:23px;border-bottom: 1px solid #D1D0D0;padding: 8px 0">
                                <a href="https://cdn.ca9.uscourts.gov/datastore/general/2017/12/08/Checklist%20for%20District%20Conference%20Planning.pdf" target="_blank"><span class="fa fa-angle-right" style="font-size: 15px; color: #921818; font-weight: bold;">&nbsp;</span> <span class="menu_text">How-To's and Nuts and Bolts</span></a>
                        </li>
                    </ul>
     </div> -->   
</div>
