
<div id="productsandservices" class="yuimenu">
    <div id="container" style="background-color:#f7f7f7">	
      <nav class="secondary_header" id="menu">
        <ul>
		<li><a href="/attorneys/cja-resources/" target="_blank" style="color:#ffffff;">CJA HOME</a></li>
		<li><a href="https://cdn.ca9.uscourts.gov/datastore/cja/Circuit CJA Policies.pdf" target="_blank" style="color:#ffffff;">NINTH CIRCUIT CJA POLICIES AND PROCEDURES</a></li>
		<li><a href="https://cdn.ca9.uscourts.gov/assets/cja/Expert%20Presumptive%20Rates.pdf" target="_blank" style="color:#ffffff;">EXPERT PRESUMPTIVE RATES</a></li>
		<li><a href="https://cdn.ca9.uscourts.gov/assets/cja/Circuit-Model-CJA-Plan.pdf" target="_blank" style="color:#ffffff;">NINTH CIRCUIT MODEL CJA PLAN</a></li>
		<li><a href="http://www.uscourts.gov/rules-policies/judiciary-policies/criminal-justice-act-cja-guidelines" target="_blank" style="color:#ffffff;">NATIONAL CJA GUIDELINES</a></li>
	    
			
	    <li><a href="https://www.fd.org/hotline" target="_blank" style="color:#ffffff;">CJA ATTORNEY HOTLINE</a></li>
		<li><a href="/district/national-litigation-support-team/" target="_blank" style="color:#ffffff;">NATIONAL LITIGATION SUPPORT TEAM</a></li>
		<li><a href="https://www.fd.org/sites/default/files/cja_resources/cja_panel_rep_directory.pdf" target="_blank" style="color:#ffffff;">CJA PANEL ATTORNEY DISTRICT REPRESENTATIVES</a></li>
		<li><a href="https://www.fd.org/" target="_blank" style="color:#ffffff;">DEFENDER SERVICES OFFICE (FD.ORG)</a></li>
		<li><a href="/district/district-and-bankruptcy-courts/" target="_blank" style="color:#ffffff;">DISTRICT COURT<br />CJA SITES</a></li>
                <li><a href="/district/appellate-cja-practice-and-resources/" target="_blank" style="color:#ffffff;">APPELLATE CJA PRACTICE AND RESOURCES</a></li>

		              
        </ul>
		</nav>
	</div>
		<div style="height:220px;border: solid 0px #000000;">&nbsp;</div>
		
		<br>
	</div>
   </div>  
