<div class="custom-menu">

<ul>

            <li>
                <div class="nav-hl"><a href="/mediation/">Mediation in the Ninth Circuit</a></div>
            </li>
            <li>
                <div class="nav-hl"><a href="/mediation/the-mediation-process/">The Mediation Process</a></div>
            </li>
            <li style="padding-left: 30px;">
               <div class="nav-hl"><a href="/mediation/the-mediation-process/#participation">Participation</a></div>
            </li>
           <li style="padding-left: 30px;">
               <div class="nav-hl"><a href="/mediation/the-mediation-process/#tailored">Tailored Approach</a></div>
            </li>
            <li style="padding-left: 30px;">
                <div class="nav-hl"><a href="/mediation/the-mediation-process/#resolution">Resolution</a></div>
            </li>
            <li style="padding-left: 30px;">
                 <div class="nav-hl"><a href="/mediation/the-mediation-process/#confidentiality">Confidentiality</a></div>
            </li>
            <li>
                 <div class="nav-hl"><a href="/mediation/the-benefits-of-mediating-on-appeal/">Benefits of Mediating on Appeal</a></div>
            </li>
            <li>
                <div class="nav-hl"><a href="/mediation/preparing-for-mediation/">Preparing for Mediation</a></div>
            </li>
            <li>
                <div class="nav-hl"><a href="/mediation/ninth-circuit-mediators/">The Ninth Circuit Mediators</a></div>
            </li>
            <li>
                <div class="nav-hl"><a href="/mediation/contact-information/">Contact Information</a></div>  
            </li>
            <li>
                <div class="nav-hl"><a href="/mediation/frequently-asked-questions/">Frequently Asked Questions</a></div>
                </li>
            <li>
                <div class="nav-hl"><a href="/mediation/relevant-rules-forms-and-orders/">Relevant Rules, Forms, & Orders</a></div>
            </li>
  </ul>
<br />
</div>
