      <span class="yui-skin-sam">
	  <div id="productsandservices" class="yuimenu">
    <div class="bd">
        <ul class="first-of-type">
            <li class="yuimenuitem">
                <a class="yuimenuitemlabel" href="https://www.fjc.gov/history/judges">Judges</a>
            </li>
            <li class="yuimenuitem">
                <a class="yuimenuitemlabel" href="/lawyer-representatives/">Lawyer Representatives</a>
            </li>            
            <li class="yuimenuitem">
                <a class="yuimenuitemlabel" href="/district/district-court-statistics/">District Court Statistics</a>
            </li>
            <li class="yuimenuitem">
                <a class="yuimenuitemlabel" href="/district/bankruptcy-court-statistics/">Bankruptcy Court Statistics</a>
            </li>
            <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/judicial-council/judicial-appointments/" target="_blank">Judicial Appointments</a>
            </li>
             <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/judicial-council/judicial-vacancies-and-nominations/">Vacancies/Nominations</a>
            </li>
            <li class="yuimenuitem">
                <a class="yuimenuitemlabel" href="http://www3.ce9.uscourts.gov/jury-instructions/model-civil">Civil Jury Instructions</a>
          </li>
            <li class="yuimenuitem">
                <a class="yuimenuitemlabel" href="http://www3.ce9.uscourts.gov/jury-instructions/model-criminal">Criminal Jury Instructions</a>
          </li>
           <li class="yuimenuitem">
                <a class="yuimenuitemlabel" href="/judicial-council/jury-trial-improvement-committee/">Jury Committee Reports</a>
            </li>
            <li class="yuimenuitem">
                <a class="yuimenuitemlabel" href="https://cdn.ca9.uscourts.gov/datastore/district/MJEB_guide.pdf" target="_blank">Obtaining Electronic Data</a>
            </li>    
            </ul>
            <br>
            <br>
            <ul class="leftnav_bgcolor">
            <li class="yuimenuitem">
                <a class="yuimenuitemlabel" href="http://www.fjc.gov/public/home.nsf/hisj" target="_blank"><span class="leftnav_units">Federal Judges<br />Biographical Database</span></a>
            </li> 
            <li class="yuimenuitem">
              <a class="yuimenuitemlabel" href="/bap/"><span class="leftnav_units">Bankuptcy Appellate Panel</span></a>
            </li>     
            <li class="yuimenuitem">
              <a class="yuimenuitemlabel" href="https://cdn.ca9.uscourts.gov/datastore/district/MJTP.pdf" target="_blank"><span class="leftnav_units">A Manual on<br />Jury Trial Procedures</span></a>
            </li>                                 
        </ul> 
        &nbsp; 
     </div>  
   </div>  
      </span>

