      <!-- Start Left Navigation -->
      <span class="yui-skin-sam">
      <!-- InstanceBeginEditable name="LeftNavigation" -->
         <div id="productsandservices" class="yuimenu">
    <div class="bd">
        <ul class="first-of-type">
            <li class="yuimenuitem first-of-type">
                <a class="yuimenuitemlabel" href="/library/research/">Research</a>
            </li>
            <li class="yuimenuitem">
                <a class="yuimenuitemlabel" href="#">Opinions/Case <br />Information</a>
                <div id="decisions" class="yuimenu">
          			<div class="bd">
            			<ul class="first-of-type">
					 		<li class="yuimenuitem"><a href="/opinions/">Published opinions</a></li>
                            <li class="yuimenuitem"><a href="/library/webcites/">Websites cited in published opinions</a></li>
             				<li class="yuimenuitem"><a href="/memoranda/">Unpublished opinions (Memoranda)</a></li>
                            <li class="yuimenuitem"><a href="https://ecf.ca9.uscourts.gov/">PACER</a></li>
                            <li class="yuimenuitem"><a href="/library/briefs/">Briefs</a></li>
	        			</ul>
          			</div>
        		</div>
            </li>
            <li class="yuimenuitem first-of-type">
                <a class="yuimenuitemlabel" href="/library/court-rules/">Court Rules</a>
            </li>
            <li class="yuimenuitem">
                <a class="yuimenuitemlabel" href="#">Jury Instructions</a>
                <div id="calendar" class="yuimenu">
          			<div class="bd">
            			<ul class="first-of-type">
					 		<li class="yuimenuitem"><a href="http://www3.ce9.uscourts.gov/jury-instructions/model-civil">Civil</a></li>
             				<li class="yuimenuitem"><a href="http://www3.ce9.uscourts.gov/jury-instructions/model-criminal">Criminal</a></li>
	        			</ul>
          			</div>
        		</div>
            </li>
            <li class="yuimenuitem first-of-type">
                <a class="yuimenuitemlabel" href="/guides/">Guides and <br />Legal Outlines</a>
            </li>
            <li class="yuimenuitem first-of-type">
                <a class="yuimenuitemlabel" href="/library/judiciary/">About the Judiciary</a>
            </li>
            <li class="yuimenuitem first-of-type">
                <a class="yuimenuitemlabel" href="/library/history/">Court History</a>
            </li> 

	<!--
            <li class="yuimenuitem first-of-type">
                <a class="yuimenuitemlabel" href="/library/view.php?pk_id=0000000480">Kennedy Library and <br />Learning Center</a>
            </li>                
	-->

            </ul>
        &nbsp; 
     </div>  
   </div>  

