<div>
   <div id="number_slideshow" class="number_slideshow" style="width:573px;height:250px;padding-bottom:8px;">
<ul>


<li><a href="/circuit-executive/circuit-executives-celebrate/" target="_blank"><img src="https://cdn.ca9.uscourts.gov/assets/images/rotator_images/CE_History_ca9.jpg" width="575" height="250" alt="Circuit Executive History" border="0"/></a></li>
<li><a href="/district/judge-j-clifford-wallace-celebrates-50-years-on-the-bench/" target="_blank"><img src="https://cdn.ca9.uscourts.gov/assets/images/rotator_images/Wallace_50th_ca9.jpg" width="575" height="250" alt="Judge J. Clifford Wallace Celebrates 50 Years on the Bench" border="0"/></a></li>
<li><a href="/information/quick-guide/"><img src="https://cdn.ca9.uscourts.gov/assets/images/rotator_images/quick_guide.jpg" width="575" height="250" alt="How do I" border="0"/></a></li>
<li><a href="https://cdn.ca9.uscourts.gov/datastore/uploads/guides/AppellatePracticeGuide.pdf" target="_blank"><img src="https://cdn.ca9.uscourts.gov/assets/images/rotator_images/practice_guide.jpg" width="573" height="250" alt="Appellate Lawyer Practice Guide" border="0"/></a></li>
<li><a href="/opinions/"><img src="https://cdn.ca9.uscourts.gov/assets/images/rotator_images/opinions.jpg" width="573" height="250" alt="How do I find published opinions?" border="0"/></a></li>
<li><a href="/media/video-search"><img src="https://cdn.ca9.uscourts.gov/assets/images/rotator_images/arguments.jpg" width="573" height="250" alt="View video oral arguments" border="0"/></a></li> 
<li><a href="/efiling/#section-registration"><img src="https://cdn.ca9.uscourts.gov/assets/images/rotator_images/ecf.jpg" width="570" height="250" alt="How do I register for electronic case filing?" border="0"/></a></li>


     </ul>            
      <ul class="number_slideshow_nav">                
          <li><a href="#">1</a></li>                
          <li><a href="#">2</a></li>                
          <li><a href="#">3</a></li>                
          <li><a href="#">4</a></li>  
          <li><a href="#">5</a></li>
	  <li><a href="#">6</a></li>
	  <li><a href="#">7</a></li>
      </ul>           
      </div>    		<!-- <div style="clear: both"></div> -->        
</div>

				<!--<li><a href="//www.ca9.uscourts.gov/news_media/courthouse_tribute.php"><img src="//circ9-static-web-assets.s3.us-west-1.amazonaws.com/images/rotator_images/documentary.jpg" width="573" height="250" alt="Video documentary - A Court for All Seasons" border="0"/></a></li>-->
